@tailwind base;
@tailwind components;
@tailwind utilities;


.font-rubik {
    font-family: 'Rubik';
}

body.fotoFondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../public/images/fondoInicio.png");
    background-color: #010440;
    background-size: cover;
    background-position: center;

}

body.fotoFondoHasiera {
    background-image: url("../../public/images/hasiera.png");
    background-color: #010440;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

body.fotoFondoBiltegia {
    background-image: url("../../public/images/biltegia.png");
    background-color: #010440;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

body.fotoFondoKontaktua {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../public/images/fondoInicio.png");
    background-color: #010440;
    background-size: cover;
    background-position: center;

}


body.fotoFondoPatio {
    background-image: url("../../public/images/patio.png");
    background-color: #010440;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

body.fotoFondoSotoa {
    background-image: url("../../public/images/sotoa.png");
    background-color: #010440;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

body.fotoFondoTeilatua {
    background-image: url("../../public/images/teilatua.png");
    background-color: #010440;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

body.fondoAzul{
    background-color: #0074CC;
}


.fill-current {
    fill: #0BD904; /* Color predeterminado */
    transition: fill 0.3s ease; /* Transición suave */
}

.fill-current:hover {
    fill: #F2F8F0; /* Color al hacer hover */
}

.containerIndex {
    height: 100%;
    width: 100%;
    font-weight: bold;
    text-align: center;
    word-spacing: 4px;
}

.containerIndex p{
    color: white;
	-webkit-text-stroke: 1px black;
	text-shadow: 0px 1px 4px black;
}

#bottone1 {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #0BD904;
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 30px 14px rgba(11,217,4,1);
    margin-top: 100px;
}

#bottone1:hover{
    transition: 0.7s;
    box-shadow: 0px 0px 50px 28px rgba(11,217,4,1);
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #0bd904;
    color: #010440;

  }

  .accordion:hover:after {
    color: #010440;  /* Cambia el color al hacer hover */
  }

  .accordion:after {
    content: '\2193';
    color: #0bd904;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2191";
  }

  .panel {
    padding: 0 18px;
    background-color: #010440;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  /* ------------------------------------------- */

#juego3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .input-container {
    display: flex;
    margin-top: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

  .number-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .selected-letter, .input-field {
    width: 40px;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
  }

  .btn-increment, .btn-decrement {
    background-color: #73633C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
  }

  .btn-decrement {
    background-color: #73633C;
  }

  .verify-btn {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;

  }

  .containerBoton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fondo {
    background-image: url("../../public/images/Candado.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover; /* Adjust according to your needs */

}

.vibrating {
    animation: shake 0.5s ease-in-out;
  }

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
  }
