$kolore-nagusia: #0BD904;
$kolore-oinarria: #010440;

.atzekaldeko-kolore-nagusia {
    background-color: $kolore-nagusia;
}

.testu-kolore-nagusia {
    color: $kolore-nagusia;
}

.atzekaldeko-kolore-oinarria {
    background-color: $kolore-oinarria;
}

.testu-kolore-oinarria {
    color: $kolore-oinarria;
}
