/* <link rel="stylesheet" href="{{ asset('css/rubik.css') }}"> */

/* Rubik Regular */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Rubik-Regular.ttf') format('truetype');
}

/* Rubik Medium */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Rubik-Medium.ttf') format('truetype');
}

/* Rubik Bold */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Rubik-Bold.ttf') format('truetype');
}

/* Rubik Italic (Cursiva) */
@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Rubik-Italic.ttf') format('truetype');
}
